/** {
	border: 2px solid red;
	padding: 10px;
	margin: 10px;
}*/

body {
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

table {
	width: 100%;
}

th {
	background-color: #273b47;
	color: white;
	padding: 10px 20px;
	text-align: left;
}

td {
	padding: 20px;
}

table, th, td {
	border: 1px solid #273b47;
	border-collapse: collapse;
}

input, textarea {
	outline: 0;
}

input:focus, textarea:focus {
	background: lightgray;
}
.contenedor {
	width: 800px;
	margin: auto;
	position: relative;
}

.background {
	background-image: url('../images/background.png');
	background-size: cover;
}

.titulo {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
	margin-top: 70px;
}

.titulo span {
	text-decoration: underline;
}

.guitarras {
	color: #1f313c;
	margin-bottom: 60px;
}

.titulo-guitarras {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

.title-a {
	margin-top: 0;
	font-size: 24px;
}

.title-b {
	font-size: 50px;
	margin-bottom: 20px;
}


.portada {
	color: white;
	padding: 20px;
	height: 500px;
}

.boton { 
	margin-bottom: 70px;
	border-radius: 12px;
	padding: 7px 12px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	background-color: #fd324e;
	color: white;
	font-size: 18px;
	background: linear-gradient(to left, #fd324e, #ff7250);
}

.menu {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.menu li:before {
	content: '∘';
	font-size: 30px;
	line-height: 20px;
	color: white;
}

.menu a{
	color: white;
	text-decoration: none;
}

.logotipo {
	margin-left: 0;
	display: inline-block;	
}

.guitarra {
	margin: 10px 10px 40px 10px;
	padding: 10px;
	/*overflow: hidden;*/
	border: 1px solid #1f313c;
	border-radius: 8px;
}

.guitarra ol {
	padding: 0;
}

.guitarra.guitarra-b {
	height: 190px;
}

.right {
	float: right;
	position: relative;
	top: -127px;
}

.left {
	float: left;
	position: relative;
}

.contenedor-guitarra-right {
	padding-left: 20px;
}

.contenedor-guitarra-left {
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.header {
	position: relative;
}

.footer {
	background-color: #273b47;
	padding: 50px 10px;
}

.contacto {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	width: 280px;
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;	
	margin: 10px 10px 10px 0;
}

.footer .contenedor {
	display: flex;
	justify-content: space-between;
}

.formulario {
	display: flex;
	justify-content: space-around;

	width: 400px;
	color: white;
	
}

.formulario label, .sexo, .intereses {
	margin-bottom: 10px;	
}

.sexo {
	margin-top: 10px;
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
}

.col1 {
	margin-right: 15px;
}

.intereses label {
	font-size: 12px;
}

.col2 {
	align-items: flex-start;
}

.col2 .boton {
	margin-top: 10px;
}

.tabla {
	margin: 50px 0;
}